{% extends "basee.html"%}
{% block breadhead %}
Home
{% endblock %}

{% block breadname %}
About
{% endblock %}




{% block listing %}

<div class="container mt-5">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-center mb-4">About Us</h2>
        <p class="lead">There is a place in Lagos, Nigeria called Computer Village. It's located in Ikeja and is known for offering a wide range of electronic products for sale. As medical school wasn't scratching that itch, I decided to pursue my passion for electronics alongside by part-timing as a repair technician. I started out with laptops and as I gained experience, I expanded into repairing phones, consoles, and other electronic gadgets. Before I knew it, I had accumulated over a decade of experience.</p>
        <p class="lead">At some point along the way, I began receiving numerous requests from customers to assist them in purchasing various electronic items. They believed that my experience would enable me to identify potential defects in used gadgets. In addition to my work as a technician, I also freelanced in graphics design, video editing, motion graphics, and even dabbled in designing static websites. People valued my opinion on selecting the right hardware for similar tasks.</p>
        <p class="lead">With the introduction of platforms like OLX and later Jiji.ng, an e-commerce store for a wide range of items, I found myself constantly frustrated with the lack of understanding displayed by these platforms. Most electronic listings showed a complete lack of knowledge about the products being sold. Issues such as inaccurate categorization and poor filtering made the sites difficult to navigate, regardless of one's prior knowledge. This frustration led to the inception of CeeVee.ng, which pays homage to Computer Village, the place where I spent most of my 20s.</p>
        <p class="lead">Now, armed with over a decade of experience and the skills and connections I've gained through ALX, I am finally empowered to address these issues. I aim to revolutionize the process of buying and selling electronics by leveraging my expertise and insights.</p>
      </div>
    </div>
  </div>

{% endblock %}