<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Ceevee</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->

  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap">
  <link href="https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap" rel="stylesheet"> <!-- Include the Ropa Sans font -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap Icons CSS (Optional, if you want to use Bootstrap Icons) -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

  <link href="../static/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">






</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{{ url_for('users.home') }}" class="logo d-flex align-items-center">
        <img src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYTy66GYnXr-OIM3Gg9hfF6jYgvrIVMKUm7PZh4P3Ytml1MPgWvm1KTHXPqoDVkfLvdn-kmojEifc9fi9gAodu06NZ_IzQ=s2560" alt="">
        <span class="d-none d-lg-block">CeeVee</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    {% if current_user.is_authenticated %}
    <nav class="header-nav ms-auto">







      <ul class="d-flex align-items-center">



        <!-- posting start -->
            <li class="nav-item dropdown">

              <a class="nav-link nav-icon" href="{{ url_for('users.posting') }}">
                  <i class="bi bi-plus-circle-fill"></i>
              </a>
    
            </li>
        <!-- End posting-->


        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">1</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 1 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Order sent</h4>
                <p>Your item and been sent please view deliveries for more information</p>
                <p>10 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>


            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->








        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-heart"></i>
            <span class="badge bg-success badge-number">3</span>
          </a><!-- End Messages Icon -->

        </li><!-- End Messages Nav -->












        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">1</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 1 new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>Gadget home</h4>
                  <p>I just sent your order</p>
                  <p>9min. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>


            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->



        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-person-circle"></i>
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ full_name }}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ full_name }}</h6>
              <span>Admin</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="settings.html">
                <i class="bi bi-gear"></i>
                <span>settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{ url_for('users.listings') }}">
                <i class="bi bi-view-list"></i>
                <span>Listings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pending.html">
                <i class="bi bi-send-check"></i>
                <span>Pending</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{ url_for('users.payment') }}">
                <i class="bi bi-truck-flatbed"></i>
                <span>Payment/delivery</span>
              </a>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{ url_for('users.logout') }}">
                <i class="bi bi-truck-flatbed"></i>
                <span>logout</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->


      </ul>
    </nav><!-- End Icons Navigation -->
    {% endif %}


  </header><!-- End Header -->














  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">


      {% block profilemoney %}{% endblock %}


        <li class="nav-item">
            <a class="nav-link " href="{{ url_for('users.home') }}">
                <i class="bi bi-grid"></i>
                <span>Home</span>
            </a>
        </li>
        <!-- Home Navigation end -->


        <!-- start categories nav -->
        <li class="nav-item">
          <div class="d-flex align-items-center">
            <a class="nav-link collapsed" href="index.html">
              <i class="bi bi-bar-chart"></i><span>Category</span>
            </a>
            <i data-bs-target="#cat-nav"  data-bs-toggle="collapse" class="bi bi-chevron-down ms-auto"></i>
          </div>
          <ul id="cat-nav" class="nav-content collapse" data-bs-parent="#r1-nav">
        <!-- start categories nav -->


        {% for cat in sidebar %}


            <!-- start Laptop nav -->
            <li class="nav-item">
              <div class="d-flex align-items-center">
                <a class="nav-link collapsed" href="{{url_for('users.laptops')}}">
                  <i class="bi bi-bar-chart"></i><span>{{cat}}</span>
                </a>
                <i data-bs-target="#{{cat}}"  data-bs-toggle="collapse" class="bi bi-chevron-down ms-auto"></i>
              </div>

              <ul id="{{cat}}" class="nav-content collapse" data-bs-parent="#r1-nav">


              {% for name in column_names%}
                {% if name != 'id' %}
                      {% if rows[0][name] == cat %}

                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="tabletPartsDropdown" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-circle"></i><span>{{name.replace("_", " ")}}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="tabletPartsDropdown">
                      {% for row in rows %}
                          {% if row[name] != "" and row[name] not in cat %}
                              <li><a class="dropdown-item" href="#">{{ row[name] }}</a></li>
                          {% endif %}
                      {% endfor %}
                        </ul>
                      </li>

                      {% endif %}
                {% endif %}
              {% endfor %}

              </ul>
            </li>
            <!-- End Laptop nav -->


        {% endfor %}

          </ul>
        </li>
        <!-- End categories nav -->






        {% block filers %}{% endblock %}




        <!-- links started -->
        <li class="nav-heading">links</li>
        {% if not current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link collapsed" href="{{ url_for('users.sign_up') }}">
            <i class="bi bi-card-list"></i>
            <span>Register</span>
          </a>
        </li><!-- End link -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="{{ url_for('users.login') }}">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Login</span>
          </a>
        </li><!-- End Login Page Nav -->
        {% endif %}
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="pages-contact.html">
            <i class="bi bi-envelope"></i>
            <span>Contact</span>
          </a>
        </li><!-- End Contact Page Nav -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="{{ url_for('users.about') }}">
            <i class="bi bi-question-circle"></i>
            <span>About</span>
          </a>
        </li><!-- End F.A.Q Page Nav -->
  
      </ul>
  
    </aside>
  
    <!-- End Sidebar-->
  
  
  
  
  
  
  
  
  
  
  
    <main id="main" class="main">
  
      <div class="pagetitle">
        <h1>{% block breadhead %}{% endblock %}</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('users.home') }}">Home</a></li>
            <li class="breadcrumb-item active">{% block breadname %}{% endblock %}</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->
  
      <section class="section dashboard">
        <div class="row">
  
  
        </div>
      </section>
  
  
      <section class="section dashboard">
        <div class="row">
  
  
  
          {% block listing %}{% endblock %}
          {% block content %}{% endblock %}
  
  
  
  
  
        </div>
      </section>
  
  
  
  
    </main><!-- End #main -->
  
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer fixed-bottom">
      <div class="copyright">
        &copy; Copyright <strong><span>CeeVee</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">strange</a>
      </div>
    </footer><!-- End Footer -->
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- Vendor JS Files -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
  
  <!-- Bootstrap JS Bundle (Popper included) -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  
  <!-- Bootstrap Slider JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js"></script>
  
  
  
  
    <!-- Template Main JS File -->
    <script src="../static/assets/js/main.js"></script>
  
  {% block jscript%}{% endblock %}
  
  </body>
  
  </html>
















