{% extends "basee.html"%}
{% block breadhead %}
Home
{% endblock %}

{% block breadname %}
SignUp
{% endblock %}




{% block listing %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="centered-form">
                <h2>Sign Up</h2>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label for="email">Email</label>
                        {{ form.email(class="form-control", placeholder="Enter your email") }}
                    </div>
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        {{ form.first_name(class="form-control", placeholder="Enter your first name") }}
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        {{ form.last_name(class="form-control", placeholder="Enter your last name") }}
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        {{ form.password(class="form-control", placeholder="Enter your password") }}
                    </div>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
