from flask import render_template, Blueprint, url_for, flash, redirect, request
from CeeVee_Online.users.forms import SignUpForm, SignInForm, User, Role, ResetPasswordForm, RequestResetForm
from CeeVee_Online import bcrypt, db
from flask_login import current_user, login_user, logout_user
from CeeVee_Online.users.utils import send_reset_email

users = Blueprint("users", __name__)

class cat(db.Model):
    __tablename__ = 'ceevee_sidebar'
    id = db.Column(db.Integer, primary_key=True)
    Laptop_part = db.Column(db.String(255))
    Laptop_Accessory = db.Column(db.String(255))
    Desktop_Part = db.Column(db.String(255))
    Desktop_Accessory = db.Column(db.String(255))
    Phone_Part = db.Column(db.String(255))
    Phone_Accessory = db.Column(db.String(255))
    Tablet_Part = db.Column(db.String(255))
    Tablet_Accessory = db.Column(db.String(255))
    Console_part = db.Column(db.String(255))
    Console_Accessories = db.Column(db.String(255))
    Appliance_Home = db.Column(db.String(255))
    Appliance_Kitchen = db.Column(db.String(255))
    Server_Networking = db.Column(db.String(255))
    Sound = db.Column(db.String(255))
    Video_Pictures = db.Column(db.String(255))
    Car = db.Column(db.String(255))
    Car_Part = db.Column(db.String(255))
    Car_Accessory = db.Column(db.String(255))


def replace_underscores_with_spaces(lst):
    """
    Replace underscores with spaces in each string within a list object.
    """
    new_lst = []  # Initialize an empty list to store modified strings

    # Iterate over each string in the input list
    for string in lst:
        # Replace underscores with spaces in the current string
        modified_string = string.replace('_', ' ')
        # Add the modified string to the new list
        new_lst.append(modified_string)

    return new_lst



@users.route('/home')
def index():
    sidebar = ['Laptop', 'Desktop', 'Phone', 'Tablet', 'Console', 'Appliance', 'Professional', 'Cars', 'Parts']
        # Get the columns of the cat model
    columns = cat.__table__.columns.keys()
    # Query the database to get all laptop_part values from the table
    rows = cat.query.all()

    column_names = {}
    for column in columns:
        column_names[column] = [getattr(row, column) for row in rows]
    cat_name = replace_underscores_with_spaces(column_names)

    Laptop_part = [row.Laptop_part for row in rows]
    Laptop_Accessory = [row.Laptop_Accessory for row in rows]
    Desktop_Part = [row.Desktop_Part for row in rows]


    # Pass the laptop_parts list to the template
    return render_template('home.html', sidebar=sidebar, cat_name=cat_name, column_names=column_names, rows=rows, Laptop_part=Laptop_part, Laptop_Accessory=Laptop_Accessory, Desktop_Part=Desktop_Part)



@users.route("/")
def home():
    return render_template('landing.html')


@users.route("/categories")
def categories():
    return render_template('listings.html', title='Categories')


@users.route("/laptops")
def laptops():
    return render_template('laptops.html', title='Categories')


@users.route("/listings")
def listings():
    return render_template('listings.html', title='Listings')


@users.route("/listing")
def listing():
    return render_template('listing.html', title='Listing')


@users.route("/payment")
def payment():

    return render_template('payment.html', title='Payment')


@users.route('/about')
def about():
    sidebar = ['Laptop', 'Desktop', 'Phone', 'Tablet', 'Console', 'Appliance', 'Professional', 'Cars', 'Parts']
        # Get the columns of the cat model
    columns = cat.__table__.columns.keys()
    # Query the database to get all laptop_part values from the table
    rows = cat.query.all()

    column_names = {}
    for column in columns:
        column_names[column] = [getattr(row, column) for row in rows]
    cat_name = replace_underscores_with_spaces(column_names)

    Laptop_part = [row.Laptop_part for row in rows]
    Laptop_Accessory = [row.Laptop_Accessory for row in rows]
    Desktop_Part = [row.Desktop_Part for row in rows]


    # Pass the laptop_parts list to the template
    return render_template('about.html', sidebar=sidebar, cat_name=cat_name, column_names=column_names, rows=rows, Laptop_part=Laptop_part, Laptop_Accessory=Laptop_Accessory, Desktop_Part=Desktop_Part)



@users.route("/signup", methods=('GET', 'POST'))
def sign_up():
    """Signup view function. Handles signup form validations
    Return: signup view
    """
    if current_user.is_authenticated:
        return redirect(url_for('users.home'))

    form = SignUpForm();
    if form.validate_on_submit():
        hashed_password = bcrypt.generate_password_hash(form.password.data).decode('utf-8')
        user = User(first_name=form.first_name.data,
                    last_name=form.last_name.data, email=form.email.data,
                    password=hashed_password)
        role_name=Role(name="Admin", role_description="Manage everything")
        user.roles.append(role_name)
        db.session.add(user)
        db.session.commit();
        flash(f'Account created for {form.username.data}! you''re now able to login', 'success')
        return redirect(url_for('users.login'))
    return render_template("signup.html", title='Register', form=form);


@users.route("/login", methods=('GET', 'POST'))
def login():
    if current_user.is_authenticated:
        return redirect(url_for('users.home'))
    form = SignInForm()
    if form.validate_on_submit():
        user = User.query.filter_by(email=form.email.data).first()
        if user and bcrypt.check_password_hash(user.password, form.password.data):
            login_user(user, remember=form.remember_me.data)
            next_page = request.args.get('next')
            return redirect(next_page) if next_page else redirect(url_for('users.home'))

        else:
            flash("Login unsuccessful, please check email or password!", 'danger')
    return render_template("login.html", title='Login', form=form)


@users.route("/reset_password", methods=['GET', 'POST'])
def reset_password():
    """Ask for a reset password request"""
    if current_user.is_authenticated:
        return redirect(url_for('users.home'))
    form = SignUpForm()
    if form.validate_on_submit():
        user = User.query.filter_by(email=form.email.data).first()
        send_reset_email(user)
        flash("An email has been sent with instructions to reset your password", 'info');
        return redirect(url_for('users.login'))
    return render_template('reset_request.html',
                           form=form, title='Reset Password')


@users.route("/reset_password/<token>", methods=['GET', 'POST'])
def reset_token(token):
    """Reset user's token"""
    if current_user.is_authenticated:
        return redirect(url_for('users.home'))

    user = User.verify_reset_token(token)
    if not user:
        flash('Token invalid or expired', 'warning')
        return redirect(url_for('users.reset_password'))

    form = ResetPasswordForm()
    if form.validate_on_submit():
        hashed_password = bcrypt.generate_password_hash(form.password.data)
        user.password = hashed_password
        db.session.commit()
        flash("Your password has been updated! You're now able to login", 'success')
        return redirect(url_for('users.login'))
    return render_template('reset_token.html',
                           form=form, title='Reset Token')


@users.route("/logout")
def logout():
    """Logout a logged-in user"""
    logout_user();
    return redirect(url_for('users.login'))