/**
* styles for signUp & signIn forms
*/
@use '../utils/' as u;

.form-wrapper {
  @extend %flex;
  justify-content: center;
  height: 90%;
  padding-inline: u.rem(20);
  padding-bottom: u.rem(18);
  margin-top: u.rem(100);
  margin-bottom: u.rem(50);

  &__form {
    width: min(100% - u.rem(20), 500px);
    margin-inline: auto;
    padding: u.rem(20);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h2 {
      text-align: center;
    }

    .form-group {
      margin-bottom: u.rem(15);

      .label {
        width: 50%;
        display: block;
        margin: u.rem(10) 0;

        @include u.breakpoint-down(medium) {
          font-size: u.rem(12);
        }
      }

      .input {
        width: 100%;
        padding: u.rem(10);
        border: 1px solid #ccc;
        border-radius: u.rem(5);

        &:focus {
          outline: none;
          border: none;
          box-shadow: none;
        }
      }

      // when there is an error in the form, styles for error
      .is-invalid {
        border: 1px solid rgb(233, 62, 62);
      }

      .invalid-feedback {
        display: block;
        font-size: u.rem(12);
        color: rgb(233, 62, 62);
      }
    }

    .checkbox {
      @extend %flex;
      justify-content: space-between;
      font-size: u.rem(13);

      &__wrapper {
        width: 50%;
        display: flex;
        gap: u.rem(5);
      }

      .forgot-password {
        a {
          color: red;
        }
      }
    }

    .submit-btn-wrapper {
      margin-top: u.rem(25);

      .submit_btn {
        width: 100%;
        padding: u.rem(10);
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: u.rem(5);
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #0056b3;
        }
      }
    }

    p {
      font-size: u.rem(11);
      text-align: center;
      margin-top: 15px;
      color: gray;

      a {
        color: #007bff;
        text-decoration: none;
      }
    }
  }
}

/**
 flash message styles
*/
.alert {
  @extend %flex;
  justify-content: center;
  width: min(80% - u.rem(15), u.em(300));
  height: u.em(20);
  padding: u.rem(15);
  // margin: u.rem(5) auto;
  margin: u.rem(100) auto u.rem(5);
  color: #ffff;

  @include u.breakpoint-down(medium) {
    height: u.em(36);
    font-size: u.rem(15);
  }
}
.alert-success {
  background-color: rgb(153, 196, 153);
}
.alert-danger {
  background-color: rgb(233, 62, 62);
}

// form layout styles

.form-flex-wrapper {
  display: flex;
  flex-direction: column;

  .form-flex {
    display: flex;

    .input-width-full {
      width: 100%;
    }
  }
}
