{% extends 'base.html' %} {% block content %}

<section class="container">
  <form action="" method="POST" class="container__form">
    {{ form.hidden_tag() }}

    <h2>Login</h2>
    <br />

    <div class="form-group">
      {{ form.email.label(class="label") }}
      <!-- check for errors in the form field      -->
        {% if form.email.errors %}
          {{ form.email(class="input is-invalid") }}
          <!--  loop through the errors & display error message-->
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.email(class="input") }}
        {% endif %}
    </div>

    <div class="form-group">
      {{ form.password.label(class="label") }}
      <!-- check for errors in the form field      -->
        {% if form.password.errors %}
          {{ form.password(class="input is-invalid") }}
          <!--  loop through the errors & display error message-->
          <div class="invalid-feedback">
              {% for error in form.password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
          </div>
        {% else %}
          {{ form.password(class="input") }}
        {% endif %}
    </div>

    <div class="form-group checkbox">
      <div class="checkbox__wrapper">
        {{ form.remember_me(class="input-check") }}
        {{ form.remember_me.label(class="label") }}
      </div>
      <span class="forgot-password">
        <a href="#">Forgot password?</a>
      </span>
    </div>

    <div class="submit-btn-wrapper">{{ form.sign_in(class="submit_btn") }}</div>
    <p>Don't have an account? <a href="{{ url_for('sign_up') }}">Sign up</a></p>
  </form>
</section>
{% endblock %}
