<nav class="d-flex align-items-center">
  <div
    class="d-flex align-items-center justify-content-between"
    style="gap: 20px"
  >
    <a href="{{ url_for('users.home')}}" class="logo d-flex align-items-center">
      <img
        src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYTy66GYnXr-OIM3Gg9hfF6jYgvrIVMKUm7PZh4P3Ytml1MPgWvm1KTHXPqoDVkfLvdn-kmojEifc9fi9gAodu06NZ_IzQ=s2560"
        alt=""
      />
      <span class="d-none d-lg-block">CeeVee</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn" id="toggle-sidebar-btn">
      <!-- toggle hamburger menu         -->
    </i>
  </div>
  <!-- End Logo -->
  <div
    class="search-nav-links-wrapper d-flex align-items-center justify-content-between"
  >
    <div
      class="d-flex align-items-center justify-content-center home-and-search-wrapper"
    >
      <a href="{{ url_for('users.home') }}">Home</a>

      <div class="search_wrapper nav-item d-flex align-items-center">
        <input
          type="text"
          autocomplete="off"
          spellcheck="false"
          tabindex="0"
          placeholder="search for products"
        />

        <i class="fa fa-search" aria-hidden="true"></i>
        <!-- <i class="bi bi-search"></i> -->
      </div>
    </div>

    <ul class="hide_for_mobile">
      <li>
        <a href="{{ url_for('users.sign_up') }}">
          Sign Up
          <i class="fa fa-user-plus" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="{{ url_for('users.login') }}">
          Login
          <i class="fa fa-sign-in" aria-hidden="true"></i>
        </a>
      </li>
    </ul>

    <div class="hide_for_desktop" id="hamburger">
      <!-- <i class="bi bi-list icon"> -->
      <!-- toggle hamburger menu         -->
      <!-- </i> -->
      <i class="fa-solid fa-bars icon-btn"></i>
      <i class="fa-solid fa-xmark icon-btn close"></i>
    </div>
  </div>
</nav>
<div class="mobile-nav-links close" id="mobile_links">
  <ul>
    <li>
      <a href="{{ url_for('users.sign_up') }}">
        Sign Up
        <i class="fa fa-user-plus" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="{{ url_for('users.login') }}">
        Login
        <i class="fa fa-sign-in" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</div>
